
body.aside-doc-open,
body.aside-setting-open,
body.aside-doc-close,
body.aside-setting-close {
    overflow: hidden;
}

nav.docs-navigation,
aside.setting {
    background: var(--color-palette-1);
    top: 2.85rem;
    bottom: 0;
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    z-index: 3;
    position: fixed;
}

aside.setting .control-line .hidden,
aside.setting .control-line button.hidden {
    display: none;
}

nav.docs-navigation {
    left: -400px;
    display: none;
}

body.aside-doc-open nav.docs-navigation {
    box-shadow: 2px 7px 7px var(--color-box-shadow);
    left: 0;
    animation: openNavigation 300ms ease-in-out;
    display: flex;
}

body.aside-doc-close nav.docs-navigation {
    box-shadow: none;
    animation: closingNavigation 300ms ease-in-out;
}

@keyframes openNavigation {
    0% {display: flex;left: -400px;}
    100% {left: 0}
}

@keyframes closingNavigation {
    0% {display: flex;left: 0}
    99% {display: flex;left: -400px;}
    100% {display: none;left: -400px;}
}

aside.setting {
    right: -400px;
    display: none;
}

body.aside-setting-open aside.setting {
    box-shadow: -2px 7px 7px var(--color-box-shadow);
    right: 0;
    animation: openSetting 300ms ease-in-out;
    gap: 2rem;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}

body.aside-setting-close aside.setting {
    box-shadow: none;
    animation: closingSetting 300ms ease-in-out;
}

@keyframes openSetting {
    0% {display: flex;right:-400px;}
    100% {right: 0}
}

@keyframes closingSetting {
    0% {display: flex;right: 0}
    99% {display: flex;right: -400px;}
    100% {display: none;right: -400px;}
}

aside.setting .setting-block .control-line {
    margin-bottom: 2rem;
}

.docs-history {
    width: 100%
}

aside.setting h2,
aside.setting h3,
.docs-history h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}
aside.setting .lang-chooser {
    position: relative;
}

aside.setting .lang-chooser ul {
    border-radius: .5rem;
    background-color: var(--color-palette-3);
    box-shadow: 0 2px 7px var(--color-box-shadow);
    list-style: none;
    padding: 0.5rem;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    gap: 0.25rem;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    display: flex;
}

aside.setting .lang-chooser ul:before {
    content: '';
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.5rem solid var(--color-palette-3);
    top: -0.5rem;
    left: calc(50% - 0.5rem);
    width: 0;
    height: 0;
    position: absolute;
}

aside.setting .lang-chooser button {
    width: 100%;
    background-color: transparent;
    color: var(--color-text);
}

aside.setting .lang-chooser button.current,
aside.setting .lang-chooser button:hover {
    background-color: var(--color-palette-2);
}

.docs-history ul.docs-list {
    height: calc(100% - 3.5rem);
    overflow: auto;
}

.docs-history ul.docs-list li {
    border-radius: var(--border-radius);
    border-left: 4px solid transparent;
    background-color: var(--color-palette-2);
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.docs-history ul.docs-list li.active {
    border-radius: var(--border-radius);
    border-left: 4px solid var(--color-info);
    background-color: var(--color-palette-2);
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.docs-history ul.docs-list li + li {
    margin-top: 0.5rem;
}

.docs-history ul.docs-list a {
    font-weight: bold;
    display: block;
}

.docs-history ul.docs-list li a.link:hover {
    color: hsl(from currentColor h s calc(l - 20));
}

.docs-history ul.docs-list li a span {
    font-size: 0.7rem;
    line-height: 1;
    font-weight: 400;
    word-break: break-word;
}

aside.setting .control-line,
.docs-history ul.docs-list .control-line {
    justify-content: center;
    gap: 0.5rem;
    display: flex;
}

.docs-history ul.docs-list .control-line {
    justify-content: end;
    width: 5.5rem;
    flex: 0 1 5.5rem;
}

aside.setting .control-line .btn,
.docs-history ul.docs-list li .btn {
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    line-height: 1.2rem;
    background: transparent;
    height: 2.3rem;
    width: 2.3rem;
    padding: 0.3rem;
    transform: scale(1);
    transition: all 0.15s ease-in-out;
    display: inline-block;
}

aside.setting .control-line .btn:hover,
.docs-history ul.docs-list li .btn:hover {
    background-color: var(--color-palette-3);
    transform: scale(1.2);
}

.docs-history ul.docs-list li .btn.delete svg {
    fill: var(--color-danger);
}

aside.setting .bottom-part {
    font-size: 0.8rem;
    text-align: center;
    color: var(--color-palette-4);
}

/**
 * Form
 */
.form-line {
    margin-bottom: 1rem;
}

.form-line label {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    padding: 0.35rem 0.5rem;
    font-size: 0.8rem;
    background-color: var(--color-palette-2);
}

.form-line select {
    appearance: none;
    border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);
    border: 4px solid var(--color-palette-2);
    color: var(--color-text);
    background-color: var(--color-bg);
    padding: 0.35rem 0.5rem;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}

body.dark button.theme-btn svg:nth-child(1),
button.theme-btn svg:nth-child(2) {
    display: none;
}

body.dark button.theme-btn svg:nth-child(2),
button.theme-btn svg:nth-child(1){
    display: inline-block;
}