
:root {
    --app-color: #365d90;
    --primary-font: "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --border-radius: 5px;

    --color-success: #28a745;
    --color-info: #17a2b8;
    --color-warning: #ffc107;
    --color-danger: #dc3545;

    --color-text: #28456b; /* --color-text: hsl(from var(--app-color) h s calc(l - 10)); */
    --color-link: #0b4188; /* --color-link: hsl(from var(--app-color) h calc(s + 10) calc(l - 10)); */
    --color-box-shadow: #a5b5c9; /* --color-box-shadow: hsl(from var(--app-color) h calc(s - 20) calc(l + 33)); */
    --color-bg: #fefefe;

    --color-palette-1: #f0f4f9; /* --color-palette-1: hsl(from var(--app-color) h s calc(l + 57)); */
    --color-palette-2: #e1e9f4; /* --color-palette-2: hsl(from var(--app-color) h s calc(l + 53)); */
    --color-palette-3: #d2deee; /* --color-palette-3: hsl(from var(--app-color) h s calc(l + 49)); */
    --color-palette-4: #8ba0ba; /* --color-palette-4: hsl(from var(--app-color) h calc(s - 20) calc(l + 25)); */
}

/* dark theme */
body.dark {
    --color-text: #d6e1ef; /* --color-text: hsl(from var(--app-color) h s calc(l + 50)); */
    --color-link: #5c8ed0; /* --color-link: hsl(from var(--app-color) h calc(s + 10) calc(l + 20)); */
    --color-box-shadow: #1e2733; /* --color-box-shadow: hsl(from var(--app-color) h calc(s - 20) calc(l - 23)); */
    --color-bg: #1d293b;

    --color-palette-1: #132133; /* --color-palette-1: hsl(from var(--app-color) h s calc(l - 25)); */
    --color-palette-2: #203755; /* --color-palette-2: hsl(from var(--app-color) h s calc(l - 16)); */
    --color-palette-3: #2c4c76; /* --color-palette-3: hsl(from var(--app-color) h s calc(l - 7)); */
    --color-palette-4: #365d90; /* --color-palette-3: hsl(from var(--app-color) h s calc(l + 0)); */
}

*, :after, :before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: baseline
}

*::-webkit-scrollbar,
*::-webkit-scrollbar:hover {
    cursor: pointer;
    width: .55rem;
    height: .55rem;
}

*::-webkit-scrollbar-track {
    background: var(--color-bg);
}

*::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    border-radius: var(--border-radius);
    background: var(--color-palette-4);
    background-clip: padding-box;
    transition: border .3s ease-in-out,
        background-color .3s ease-in-out
}

*::-webkit-scrollbar-thumb:hover {
    background: var(--color-palette-4);
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    scroll-behavior: smooth;
}

body {
    font: 15px/24px var(--primary-font), sans-serif;
    background: var(--color-bg);
    color: var(--color-text);
    width: 100vw;
    overflow-x: hidden;
}

html,
body,
main {
    overflow: hidden;
    position: relative;
}

a,
a.active,
a:hover {
    text-decoration: none;
    cursor: pointer;
    color: var(--color-link)
}

button {
    border-radius: var(--border-radius);
    border: none;
    box-shadow: none;
    cursor: pointer;
    user-select: none;
    background: var(--app-color);
    color: var(--color-bg);
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    padding: .5rem;
    font-size: 1rem;
    line-height: 1.2rem;
    text-decoration: none;
    transition: all .3s ease-in-out;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    z-index: 0;
    display: inline-flex;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button.btn svg,
a.btn svg {
    fill: var(--color-text);
}

svg.icon {
    top: 0.1rem;
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
}
