/**
 * main
 */
main {
    left: 0;
    width: 100vw;
    height: 100dvh;
    padding: 0;
    -webkit-transition: left 0.2s ease-in;
    transition: left 0.2s ease-in;
    overflow: hidden;
    position: relative;
}

.doc-wrapper {
    width: 100%;
    padding: 3rem 0 0;
    bottom: 0;
    overflow: auto;
    position: absolute;
}

.doc {
    --font-size: 1rem;
    --line-height: 1.5rem;
    outline: none;
    resize: none;
    margin: 0;
    padding: 2rem 0.75rem;
    min-height: calc(100dvh - 3rem);
    background: var(--color-bg);
    font-size: var(--font-size);
    line-height: var(--line-height);
}

main .shadow-doc.hidden {
    display: none;
}

.doc.font-sans {
    font-family: sans-serif;
}

.doc.font-serif {
    font-family: serif;
}

.doc.font-monospace {
    font-family: monospace;
}

.doc.size-xs {
    --font-size: 0.75rem;
    --line-height: 1.125rem;
}

.doc.size-s {
    --font-size: 0.85rem;
    --line-height: 1.1275rem;
}

.doc.size-m {
    --font-size: 1rem;
    --line-height: 1.5rem;
}

.doc.size-l {
    --font-size: 1.25rem;
    --line-height: 1.875rem;
}

.doc.size-xl {
    --font-size: 1.5rem;
    --line-height: 2.25rem;
}

.doc.bg-lined {
    padding-top: var(--line-height);
    background: repeating-linear-gradient(
            var(--color-bg),
            var(--color-bg) calc(var(--line-height) - 1px),
            var(--color-palette-2) calc(var(--line-height) - 1px),
            var(--color-palette-2) calc(var(--line-height))
    );
}
