{% extends 'base.html' %}

{% block content %}
    @parent
    <nav class="docs-navigation">
        <div class="docs-history">
            <h2>{{ $lang('Notes') }}</h2>
            <ul class="docs-list"></ul>
        </div>
    </nav>
    <main data-note="{{ $router->getParam('note') }}">
        <header>
            <div class="head-line">
                <div class="control">
                    <button class="aside-menu" type="button">
                        <svg id="sidebar-open" viewBox="0 0 24 24"><use xlink:href="#ocno-i-sidebar-open"/></svg>
                        <svg id="sidebar-close" viewBox="0 0 24 24"><use xlink:href="#ocno-i-sidebar-close"/></svg>
                    </button>
                </div>
                <a class="logo-element" href="{{ $router->getUrl() }}">
                    <figure class="logo">
                        <img src="{% extends 'favicon.svg' %}" alt="Note">
                        <figcaption>Note</figcaption>
                    </figure>
                </a>
                <div class="control">
                    <div class="sync">
                        <svg class="icon edit" viewBox="0 0 24 24"><use xlink:href="#ocno-i-pencil"/></svg>
                        <svg class="icon sent" viewBox="0 0 24 24"><use xlink:href="#ocno-i-cloud-check"/></svg>
                        <svg class="icon error" viewBox="0 0 24 24"><use xlink:href="#ocno-i-cloud-cross"/></svg>
                    </div>
                    <button class="burger-menu" type="button">
                        <span class="ico"></span>
                    </button>
                </div>
            </div>
        </header>
        <div class="doc lined">
            {{ $content }}
        </div>
    </main>
    <aside class="setting">
        <div class="setting-block">
            <div class="control-line">
                <div class="lang-chooser">
                    <button class="btn lang-btn" type="button" title="{{ $lang('Language') }}">
                        <svg class="icon" viewBox="0 0 24 24"><use xlink:href="#ocno-i-globus"/></svg>
                    </button>
                    <ul class="hidden">
                        {% foreach ($lang->getAvailableLanguages() as $l => $title): %}
                        <li>
                            <button {{ $lang->lang == $l ? 'class="current" ' : '' }}type="button" data-lang="{{ $l }}">{{ $title }}</button>
                        </li>
                        {% endforeach; %}
                    </ul>
                </div>
                <button class="btn print-btn" type="button" title="{{ $lang('Print') }}">
                    <svg class="icon" viewBox="0 0 24 24"><use xlink:href="#ocno-i-print"/></svg>
                </button>
                <a class="btn download-btn" href="{{ $router->getQueryUrl(['download' => true]) }}" title="{{ $lang('Download') }}">
                    <svg class="icon" viewBox="0 0 24 24"><use xlink:href="#ocno-i-download"/></svg>
                </a>
                <button class="btn hidden share-btn" type="button" title="{{ $lang('Share') }}">
                    <svg class="icon" viewBox="0 0 24 24"><use xlink:href="#ocno-i-share"/></svg>
                </button>
            </div>
            <h2 class="tab-link">{{ $lang('Setting') }}</h2>
            <div class="form-line">
                <label for="setting-font">{{ $lang('Font') }}</label>
                <select class="setting-element" name="font" id="setting-font">
                    <option value="Sans">{{ $lang('Sans serif') }}</option>
                    <option value="Serif">{{ $lang('Serif') }}</option>
                    <option value="Monospace">{{ $lang('Monospace') }}</option>
                </select>
            </div>
            <div class="form-line">
                <label for="setting-background">{{ $lang('Background') }}</label>
                <select class="setting-element" name="background" id="setting-background">
                    <option value="blank">{{ $lang('Simple') }}</option>
                    <option value="lined">{{ $lang('Lined') }}</option>
                </select>
            </div>
            <div class="form-line">
                <label for="setting-fontsize">{{ $lang('Fontsize') }}</label>
                <select class="setting-element" name="fontsize" id="setting-fontsize">
                    <option value="s">{{ $lang('Small') }}</option>
                    <option value="m">{{ $lang('Medium') }}</option>
                    <option value="l">{{ $lang('Large') }}</option>
                    <option value="xl">{{ $lang('Extra large') }}</option>
                </select>
            </div>
            <div class="control-line">
                <button type="button">✔ {{ $lang('Apply') }}</button>
            </div>
        </div>
        <div class="version">{{ $lang('Version') }}: {{ APP\Core\Core::getVersion() }}</div>
    </aside>

    {% extends 'icons.svg' %}
{% endblock %}